.cell {
overflow: hidden;
position: relative;
box-shadow: 0 1px 0 hsl(0,0%,90%);
padding: 3px 10px;
}

li,dl{ 
	list-style-type:none;
}

.cell .block {
float: left;
text-align: center;
font-size: 14px;
color: hsl(0,0%,70%);
line-height: 48px;
}

.topic_wrap {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
line-height: 48px;
width: 500px;
}

.last_time {
position: absolute;
color: hsl(0,7%,70%);
top: 0;
right: 0;
font-size: 13px;
line-height: 53px;
padding: 0 8px;
}

.user_avatar img, .user_big_avatar img {
border-radius: 20px;
box-shadow: 0 0 6px hsla(0,27%,42%,.5);
width: 40px;
height: 40px;
}

#create_topic_btn {
float: right;
}

li.subject {
	margin : 0 10px;
}

.zw_class {
padding: 15px;
border: 1px solid #e1e1e1;
background: #fafafa;
margin-bottom: 20px;
}

.zw_class dl {
width: 900px;
line-height: 25px;
overflow: hidden;
zoom: 1;
}

.zw_class dt {
overflow: hidden;
zoom: 1;
}

.zw_class dt em {
float: left;
padding-right: 20px;
font-weight: bold;
font-size: 14px;
}

.zw_class dt strong {
width: 50px;
display: block;
float: left;
line-height: 26px;
}

.zw_class dt span {
float: left;
display: block;
width: 675px;
}
.zw_class dt span b {
font-weight: normal;
}

.zw_class dt a {
display: block;
float: left;
width: 67px;
height: 16px;
line-height: 16px;
margin: 5px 4px;
}

.zw_class dt span i {
padding: 0px 2px;
}

nobr {
white-space: nowrap;
}

.orange {
color: #ff6e00;
}

em, i {
font-style: normal;
}

